
body {
    background-color: #EEEEEE;
    margin: 0px;
}


hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #87A2FB;
    border-width: 4px;
    width: 2%;
}

h1{
    color: #6F38C5;
    font-family: 'SF Compact';
    font-style: normal;
}
h3 {
    color: #6F38C5;
    font-family: 'SF Compact';
    font-style: normal;
    font-weight: 580;
    font-size: 24px;
    line-height: 29px;
}

/**----DIVS----**/
.bio{
    text-align: center;
}

.div-img {
    position: absolute;
    top: 0px;
}

.top-div{
    /* background-color: #cbb7ec; */
    left: 15%;
    position: relative;
    width: 70%;
}

/**----IDs----**/

#bio-bckg{
    width: 100%;
    top: 0px;
}

#headshot{
    height: 400px;
    margin-bottom: 56px;
    position: relative;
    top: 56px;
}

#jobTitle{
    font-family: 'SF Compact';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 19px;
    margin: 0;
    color: #797878;
}

#myName{
    font-family: 'SF Compact';
    font-style: normal;
    font-weight: 656;
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 8px;
}

#textBio{
    font-family: 'SF Compact';
    font-style: normal;
    font-weight: 457;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #4F4F4F;

}